body {
    font: 20px Helvetica, sans-serif;
    color: #333;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
    /* margin-top: -170px; */
}

.homepage {
   color: #ffffff;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

body {
    text-align: center;
    padding: 150px;
}

article {
    display: block;
    text-align: left;
    width: 650px;
    margin: 0 auto;
}

a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #dd9323;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

.discord {
    color:#dd9323;
}

.discord:hover {
    color: #333;
    text-decoration: none
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding-left: 1.3em;
    font-family: 'Roboto Condensed', sans-serif;
}
div {
    display: block;
}

.active {
  color: #333;
  font-style: oblique;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dd9323;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -10;
}
